<p> This page collects some bookmarks leading to interesting things I've encountered on the World Wide Web (WWW). </p>

<h1> Game Design </h1>

<p> I enjoy games as human-computer interaction and as artform, particularly how games relate to narrative and
  procedural generation. </p>

<h2> General game design </h2>
<p> Some provocations about how to make good games generally. </p>
<ul>
  <li> <a href="https://www.are.na/max-kreminski/gardening-games" rel="noreferrer"> gardening games </a> — Max Kreminski
  </li>
  <li> <a href="https://youtu.be/TvlZinAvpwg" rel="noreferrer"> ▸ Gardening as a Mode of Play </a> — Max Kreminski @
    Roguelike Celebration </li>
  <li> <a href="https://youtu.be/WOiTlTzju8Q" rel="noreferrer"> ▸ NYU Game Center Lecture Series Presents Meghna Jayanth
    </a> — Meghna Jayanth </li>
  <li> <a href="https://www.gdcvault.com/play/1023447/10-Ways-to-Make-Your" rel="noreferrer"> ▸ 10 Ways to Make Your
      Game More Diverse </a> — Meghna Jayanth @ GDC
  </li>
  <li> <a href="https://farawaytimes.blogspot.com/2023/02/how-to-make-good-small-games.html" rel="noreferrer"> How To
      Make Good Small
      Games </a> — John Thyer </li>
  <li> <a href="https://itch.io/jam/manifesto-jam/entries" rel="noreferrer"> Submissions to Manifesto Jam </a> — Many
    authors </li>
  <li> <a href="https://youtu.be/72y2EC5fkcE" rel="noreferrer"> ▸ Tomorrow Corporation Tech Demo </a> — Allan Blomquist </li>
</ul>

<h2> Writing </h2>
<p> If you work with interactive fiction, do yourself a favour and check out Emily Short's blog. </p>
<ul>
  <li> <a href="https://emshort.blog/2019/01/08/mailbag-self-training-in-narrative-design/" rel="noreferrer"> Mailbag:
      Self-Training in
      Narrative Design </a> — Emily Short </li>
  <li> <a href="https://youtu.be/FLtATD6CF0E" rel="noreferrer"> ▸ Forget Protagonists: Writing NPCs with Agency for 80
      Days and Beyond </a> — Meghna Jayanth @ GDC
  </li>
  <li> <a href="https://youtu.be/oH51Rxi9nS4" rel="noreferrer"> ▸ Everything You've Been Told
      About Story Is Wrong </a> — Christopher Morrison @ AdventureX </li>
  <li> <a href="https://heterogenoustasks.wordpress.com/2015/01/26/standard-patterns-in-choice-based-games/"
      rel="noreferrer"> Standard
      Patterns in Choice-Based Games </a> — Sam Kabo Ashwell </li>
  <li> <a href="https://doi.org/10.1145/276627.276630" rel="noreferrer"> 🗎 Patterns of hypertext </a> — Mark Bernstein
    (1998) @ HYPERTEXT
  </li>
  <li> <a href="https://maetl.net/notes/storyboard/narrative-graph-models" rel="noreferrer"> Narrative Graph Models </a>
    — Mark Rickerby </li>
  <li> <a href="https://youtu.be/TEa9aSDHawA" rel="noreferrer"> ▸ All Choice No Consequence: Efficiently Branching
      Narrative </a> — Cassie Phillipps </li>
  <li> <a href="http://wiki.failbettergames.com/" rel="noreferrer"> Welcome to the Storychoices wiki </a> — Failbetter
    Games </li>
  <li> <a href="https://youtu.be/_vRfNtvFVRo" rel="noreferrer"> ▸ Sparkling Dialogue: A Masterclass </a> — Jon Ingold @
    AdventureX </li>
  <li> <a href="https://youtu.be/HZft_U4Fc-U" rel="noreferrer"> ▸ Narrative Sorcery: Coherent Storytelling in an Open
      World </a> — Jon Ingold @ GDC </li>
</ul>

<h2> Procedural generation </h2>
<p> Many angles, but I find myself drawn to graph-based procedural generation. </p>
<ul>
  <li> <a href="https://www.boristhebrave.com/2021/04/10/dungeon-generation-in-unexplored/" rel="noreferrer"> Dungeon Generation in Unexplored </a>
    — Adam Newgas
  </li>
  <li> <a href="https://youtu.be/NjIDVIIg1lY" rel="noreferrer"> ▸ Cyclic Plot Generation in a Narrative Instrument </a>
    — Jasmine Otto @ Roguelike Celebration
  </li>
  <li> <a href="https://blog.runevision.com/2024/10/procedural-game-progression-dependency.html" rel="noreferrer">
      Procedural game
      progression dependency graphs </a> — Rune Skovbo Johansen </li>
  <li> <a href="https://emshort.blog/2016/04/12/beyond-branching-quality-based-and-salience-based-narrative-structures/"
      rel="noreferrer"> Beyond Branching: Quality-Based, Salience-Based, and Waypoint Narrative Structures </a> — Emily
    Short
  </li>
  <li> <a href="https://youtu.be/0zDXcVc5zv0" rel="noreferrer"> ▸ IF Meetup Jan 2020 Storylets </a> — Emily Short </li>
  <li> <a href="https://youtu.be/WvVx0l1gepM" rel="noreferrer"> ▸ Meaning Alchemy </a> — Jason Grinblat @ PROCJAM </li>
  <li> <a href="https://youtu.be/66O6WDcT8KY" rel="noreferrer"> ▸ ProcGen Character Arcs </a> — Max Kreminski @
    Roguelike Celebration </li>
  <li> <a href="https://youtu.be/LKCRim02opc" rel="noreferrer"> ▸ Blooming on the Battlefield: Relationships, Rivals,
      and
      Romance in Gameplay </a> — Jim Shepard @ Roguelike Celebration </li>
  <li> <a href="https://doi.org/10.1109/TCIAIG.2013.2287297" rel="noreferrer"> 🗎 Versu—A Simulationist Storytelling
      System </a> — Richard Evans and Emily Short
    (2014) @ TCIAIG (<a href="https://cs.uky.edu/~sgware/reading/papers/evans2014versu.pdf" rel="noreferrer">PDF</a>)
  </li>
  <li> <a href="https://doi.org/10.1609/aiide.v19i1.27537" rel="noreferrer"> 🗎 Praxish: A Rational Reconstruction of a
      Logic-Based DSL for Modeling Social Practices </a> — James Dameris, Rosaura Hernandez Roman and Max Kreminski
    (2023) @ AIIDE
  </li>
  <li> <a href="https://doi.org/10.1109/CoG47356.2020.9231726" rel="noreferrer"> 🗎 Procedural Generation and
      Information Games </a> — Mike Cook (2020) @ IEEE CoG (<a
      href="https://ieee-cog.org/2020/papers/paper_87.pdf" rel="noreferrer">PDF</a>) </li>
  <li> <a href="https://doi.org/10.1007/978-3-030-33894-7_27" rel="noreferrer"> 🗎 Felt: A Simple Story Sifter </a> — Max Kreminski, Melanie Dickinson and Noah Wardrip-Fruin (2019) @ ICIDS (<a
      href="https://mkremins.github.io/publications/Felt_SimpleStorySifter.pdf" rel="noreferrer">PDF</a>) </li>
  <li> <a href="https://youtu.be/otEv5dh2f4E" rel="noreferrer"> ▸ Causal Graphs for Procedural Gen </a> — Alex Byaly @
    Roguelike Celebration </li>
  <li> <a href="https://www.ludomotion.com/blogs/trap-is/" rel="noreferrer"> Trap = </a> — Joris Dormans </li>
  <li> <a href="https://youtu.be/ymgmhtkRLyY" rel="noreferrer"> ▸ Common "Pitfalls" of Roguelike Traps and How to
      Circumvent
      Them </a> — Reed Lockwood @ Roguelike Celebration </li>
  <li> <a href="https://youtu.be/Gelpn4mksXQ" rel="noreferrer"> ▸ Systems Are Everywhere </a> — Aleissia Laidacker @
    Games Connect Asia Pacific </li>
  <li> <a href="https://youtu.be/narjui3em1k" rel="noreferrer"> ▸ Five Strategies For Collaborating With A Machine </a>
    — Emily Short @ PROCJAM </li>
  <li> <a href="https://galaxykate0.tumblr.com/post/139774965871/so-you-want-to-build-a-generator" rel="noreferrer"> So
      you want to build
      a generator… </a> — Kate Compton </li>
</ul>

<h2> Level design </h2>
<ul>
  <li> <a href="https://youtu.be/Q1Tczf8vxCM" rel="noreferrer"> ▸ Stop Getting Lost: Make Cognitive Maps, Not Levels
    </a> — Nicolas Oueijan @ GDC </li>
  <li> <a href="https://youtu.be/B36_OL1ZXVM" rel="noreferrer"> ▸ Puzzle Game Magic Secrets </a> — Brett Taylor @ GDC
  </li>
  <li> <a href="https://youtu.be/CTBor4rhnQs" rel="noreferrer"> ▸ Designing Radically Non-Linear Single Player Levels
    </a> — Aubrey Serr @ GDC </li>
  <li> <a href="https://youtube.com/playlist?list=PLc38fcMFcV_ul4D6OChdWhsNsYY3NA5B2" rel="noreferrer"> ▸ Boss Keys
      (Playlist) </a> — Game Maker's Toolkit </li>
</ul>

<h2> Procedural animation </h2>
<ul>
  <li> <a href="https://youtu.be/aVwxzDHniEw" rel="noreferrer"> ▸ The Beauty of Bézier Curves </a> — Freya Holmér </li>
  <li> <a href="https://youtu.be/LWFzPP8ZbdU" rel="noreferrer"> ▸ Noise-Based RNG </a> — Squirrel Eiserloh @ GDC </li>
  <li> <a href="https://youtu.be/KPoeNZZ6H4s" rel="noreferrer"> ▸ Giving Personality to Procedural Animations using Math
    </a> — t3ssel8r </li>
</ul>
