<style>
  #light-word::after {
    content: "light";
  }

  #dark-word::after {
    content: "dark";
  }

  @media (prefers-color-scheme: dark) {
    #light-word::after {
      content: "dark";
    }

    #dark-word::after {
      content: "light";
    }
  }

  .replace-word {
    display: none;
  }
</style>

<h1> O Verity ✅, and doubtless it shall be verified— </h1>

<p> Indeed, and one may click links on high, and links below. </p>

<p> I have interwoven a page, and so all shining things shall gush from that action. </p>

<p> 🌞 is my emoji, and 🌝 is likewise my emoji, and 🟦 cups me, and ◀️ points my teeth. </p>

<p> 💜 among emoji, and the shining keeper, and the sublime— </p>

<p> Lo! as ✨ turns into ⚠️, and in this way a boundary is nobler than a soul. </p>

<p> It is in <span id="light-word"> <span class="replace-word"> light </span> </span> mode, and
  <span id="dark-word"> <span class="replace-word"> dark </span> </span> mode flees from the face of it.
</p>

<p> Scroll one way, and scroll the opposing way. One takes in the utmost extent of the page, and thus the boundary of
  all
  things shall be loosened, and the soul of all things shall be whittled back. </p>

<p> This is my page, and I am named IFcoltransG three-pointed and blue. </p>
