<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= self.title %>
  </title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Find out whether IFcoltransG is the right choice for your web browser!" />
  <meta name="author" content="IFcoltransG" />
  <meta name="referrer" content="none" />
  <meta name="robots" content="noarchive" />
  <meta property="og:site_name" content="IFcoltransG's Alcove" />
  <meta http-equiv="Content-Security-Policy" content="script-src 'none'" />
  <meta http-equiv="Content-Language" content="en" />
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="simple.min.css"> <!-- See https://simplecss.org -->
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <header>
    <h1>
      <%= self.title %>
    </h1>
    <%- self.navbar.render()? %>
  </header>

  <main id="main">
    <%- self.content %>
  </main>

  <%- self.footer().render()? %>


</body>

</html>
