<style>
  @property --opaque-x {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
  }

  .unearth {
    --opaque-x: 0%;
    mask-image: linear-gradient(to right, black var(--opaque-x), transparent calc(var(--opaque-x) * 2));
    transition: --opaque-x 10s 0.5s;
  }

  li:hover>.unearth {
    --opaque-x: 115%;
    transition: --opaque-x 0.4s;
  }

  li:active>.unearth {
    --opaque-x: 115%;
    transition: none;
  }
</style>

<h1> Treasures </h1>

<p> These treasures from many pieces of media have brought me joy. You would need to unearth what they are, and make out their meaning. </p>

<ul>
  <% for treasure in Self::TREASURES { %>
    <li>
      <span class="unearth">
        <%- treasure %>
      </span>
    </li>
    <% } %>
</ul>
